<h2 mat-dialog-title>
  {{ data.uuid ? 'Modifier un entretien' : 'Ajouter un entretien' }}
</h2>

<form [formGroup]="appointmentForm" (ngSubmit)="onSaveClick()">
  <mat-dialog-content class="dialog-content">

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" />
      <mat-error *ngIf="appointmentForm.get('title')?.invalid && appointmentForm.get('title')?.touched">
        Le titre est obligatoire
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="appointmentForm.get('date')?.invalid && appointmentForm.get('date')?.touched">
        La date est obligatoire
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Start Time</mat-label>
      <input matInput type="time" formControlName="startTime" />
      <mat-error *ngIf="appointmentForm.get('startTime')?.invalid && appointmentForm.get('startTime')?.touched">
        Heure de début obligatoire
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>End Time</mat-label>
      <input matInput type="time" formControlName="endTime" />
      <mat-error *ngIf="appointmentForm.get('endTime')?.invalid && appointmentForm.get('endTime')?.touched">
        Heure de fin obligatoire
      </mat-error>
    </mat-form-field>

    <div *ngIf="appointmentForm.errors?.['timeRangeInvalid']" class="error">
  L'heure de fin doit être après l'heure de début.
</div>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-flat-button color="primary" type="submit">
      {{ data.uuid ? 'Modifier' : 'Ajouter' }}
    </button>

    <button *ngIf="data.uuid" mat-stroked-button color="warn" (click)="onDeleteClick()" style="margin-left:10px">
      Supprimer
    </button>

    <button mat-stroked-button (click)="onNoClick()" style="margin-left:10px">
      Annuler
    </button>
  </mat-dialog-actions>
</form>
