<body>
    
<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow">
  <div class="container-fluid">
    <!-- Logo / Titre -->
    
    <a class="navbar-brand fw-bold" [routerLink]="['/admin/dashboard']">Opportunet</a>

    <!-- Bouton burger en responsive -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="form-check form-switch fs-6">
                  <input class="form-check-input me-0" type="checkbox" id="toggle-dark" style="cursor: pointer">
                  <label class="form-check-label"></label>
                </div>

    <!-- Liens / Boutons -->
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
     
           <li class="nav-item">
  <button class="btn btn-danger" (click)="logout()">Déconnexion</button>
</li>
      </ul>
    </div>
  </div>
</nav>

    <div id="app">
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active">
                <div class="sidebar-header">
                    <div class="d-flex justify-content-between">

                        <div class="toggler">
                            <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                        </div>
                    </div>
                </div>
                <div class="sidebar-menu p-3">
                    <ul class="menu">
                        <li class="sidebar-title">Menu</li>

                        <li class="sidebar-item active" *ngIf="userRole === 'ADMIN' ">
                            <a href="admin/Adminformation" class='sidebar-link'>
                                <i class="bi bi-grid-fill"></i>
                                <span>Ajouter Formation</span>
                            </a>
                        </li>
                        <li class="sidebar-item active" *ngIf="userRole === 'ADMIN' ">
                            <a href="admin/liste-formations" class='sidebar-link'>
                                <i class="bi bi-grid-fill"></i>
                                <span>Consulter Liste de Formation</span>
                            </a>
                        </li>
                         <li class="sidebar-item active" *ngIf="userRole === 'ADMIN' ">
                            <a href="admin/liste-candidatures" class='sidebar-link'>
                                <i class="bi bi-grid-fill"></i>
                                <span>liste Candidatures</span>
                            </a>
                        </li>
                         <li class="sidebar-item active" *ngIf="userRole === 'ADMIN' ">
                            <a href="admin/liste-offres" class='sidebar-link'>
                                <i class="bi bi-grid-fill"></i>
                                <span>liste Des Offres d'Emplois</span>
                            </a>
                        </li>
                          <li class="sidebar-item active" *ngIf="userRole === 'ADMIN' ">
                            <a href="admin/userList" class='sidebar-link'>
                                <i class="bi bi-grid-fill"></i>
                                <span>liste Des Utilisateurs (Candidat/Organisation/Encadrant)</span>
                            </a>
                        </li>

                        <li class="sidebar-item  has-sub" *ngIf="userRole === 'ORGANISATION'">
                            <a href="admin/calendar" class='sidebar-link'>
                                <i class="bi bi-stack"></i>
                                <span>Fixer un entretien</span>
                            </a>
                           
                        </li>

                        <li class="sidebar-item  has-sub" *ngIf="userRole === 'ADMIN' ">
                           
                         
                            <ul class="submenu ">
                                <li class="submenu-item ">
                                    <a href="extra-component-avatar.html">Avatar</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="extra-component-sweetalert.html">Sweet Alert</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="extra-component-toastify.html">Toastify</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="extra-component-rating.html">Rating</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="extra-component-divider.html">Divider</a>
                                </li>
                            </ul>
                        </li>

                        <li class="sidebar-item  has-sub" *ngIf="userRole === 'ORGANISATION'">
                            <a href="/admin/organisation" class='sidebar-link'>
                                <i class="bi bi-grid-1x2-fill"></i>
                                <span>Dashboard Organisation</span>
                            </a>
                            <ul class="submenu ">
                                <li class="submenu-item ">
                                    <a href="layout-default.html">Default Layout</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="layout-vertical-1-column.html">1 Column</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="layout-vertical-navbar.html">Vertical with Navbar</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="layout-horizontal.html">Horizontal Menu</a>
                                </li>
                            </ul>
                        </li>

                       
                       

                      

                      
                  

                     

                       

                       

                      

                        

                       

                     

                      

                    </ul>
                </div>
                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            </div>
        </div>
        
    </div>
  
</body>