<div class="modal show d-block" tabindex="-1" role="dialog" style="background: rgba(0,0,0,0.5)">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Postuler à : {{ offre?.titre }}</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="close.emit()"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="candidatureForm">
          <div class="mb-3">
            <label>CV</label>
            <input formControlName="cv" class="form-control" placeholder="cv_aziz.pdf" />
          </div>
          <div class="mb-3">
            <label>Lettre de motivation</label>
            <textarea formControlName="lettreMotivation" class="form-control"></textarea>
          </div>
          <div class="mb-3">
            <label>Remarque</label>
            <input formControlName="remarque" class="form-control" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" (click)="postuler()">Envoyer</button>
        <button class="btn btn-secondary" (click)="close.emit()">Annuler</button>
      </div>
    </div>
  </div>
</div>
