<div id="container" class="container" [ngClass]="toggleMode ? 'sign-up' : 'sign-in'">
    <!-- FORM SECTION -->
    <div class="row">
        <!-- SIGN UP -->
        <div class="col align-items-center flex-col sign-up">
            <div class="form-wrapper align-items-center">
                <form class="form sign-up" [formGroup]="signupForm" (ngSubmit)="signup()">
                    <div class="input-group">
                        <i class='bx bxs-user'></i>
                        <input type="text" placeholder="Nom" formControlName="nom">
                        <div *ngIf="signupForm.get('nom')?.touched && signupForm.get('nom')?.invalid">
                            <span *ngIf="signupForm.get('nom')?.errors?.['required']">Le Nom est Obligatoire </span>
                            <span *ngIf="signupForm.get('nom')?.errors?.['minlength']">Minimum 2 caractères</span>
                        </div>
                    </div>
                    <div class="input-group">
                        <i class='bx bxs-user'></i>
                        <input type="text" placeholder="Prénom" formControlName="prenom">
                        <div *ngIf="signupForm.get('prenom')?.touched && signupForm.get('prenom')?.invalid">
                            <span *ngIf="signupForm.get('prenom')?.errors?.['required']">Le Prénom est Obligatoire</span>
                            <span *ngIf="signupForm.get('prenom')?.errors?.['minlength']">Minimum 2 caractères</span>
                        </div>
                    </div>
                    <div class="input-group">
                        <i class='bx bx-mail-send'></i>
                        <input type="email" placeholder="Email" formControlName="email">
                        <div *ngIf="signupForm.get('email')?.touched && signupForm.get('email')?.invalid">
                            <span *ngIf="signupForm.get('email')?.errors?.['required']">Email  Obligatoire </span>
                            <span *ngIf="signupForm.get('email')?.errors?.['email']">Email invalide</span>
                        </div>
                    </div>
                    <div class="input-group">
                        <i class='bx bxs-lock-alt'></i>
                        <input type="password" placeholder="Password" formControlName="password">
                        <div *ngIf="signupForm.get('password')?.touched && signupForm.get('password')?.invalid">
                            <span *ngIf="signupForm.get('password')?.errors?.['required']">Entrez votre mot de passe </span>
                            <span *ngIf="signupForm.get('password')?.errors?.['minlength']">Minimum 6 caractères</span>
                            <span *ngIf="signupForm.get('password')?.errors?.['pattern']">Doit contenir au moins une lettre majuscule, une lettre minuscule et un chiffre</span>
                        </div>
                    </div>
                    <div class="input-group">
                        <i class='bx bxs-lock-alt'></i>
                        <input type="password" placeholder="Confirm password" formControlName="confirmPassword">
                        <div *ngIf="signupForm.get('confirmPassword')?.touched && signupForm.get('confirmPassword')?.invalid">
                            <span *ngIf="signupForm.get('confirmPassword')?.errors?.['required']">Confirmation requise</span>
                            <span *ngIf="signupForm.get('confirmPassword')?.errors?.['passwordMismatch']">Les mots de passe ne correspondent pas</span>
                        </div>
                    </div>
                    <div class="input-group">
                        <i class='bx bxs-lock-alt'></i>
                        <select formControlName="role">
                            <option value="CANDIDAT">Candidat</option>
                            <option value="ENCADRANT">Encadrant</option>
                            <option value="ORGANISATION">Organisateur</option>
                        </select>
                    </div>
                    <button type="submit" [disabled]="signupForm.invalid">Sign up</button>
                    <p>
                        <span>Already have an account?</span>
                        <b (click)="toggle()" class="pointer">Sign in here</b>
                    </p>
                </form>
            </div>
        </div>
        <!-- END SIGN UP -->

        <!-- SIGN IN -->
        <div class="col align-items-center flex-col sign-in">
            <div class="form-wrapper align-items-center">
                <form class="form sign-in" [formGroup]="signinForm" (ngSubmit)="signin()">
                    <div class="input-group">
                        <i class='bx bxs-user'></i>
                        <input type="email" placeholder="Email" formControlName="email">
                        <div *ngIf="signinForm.get('email')?.touched && signinForm.get('email')?.invalid">
                            <span *ngIf="signinForm.get('email')?.errors?.['required']">Entrez votre email </span>
                            <span *ngIf="signinForm.get('email')?.errors?.['email']">Email invalide</span>
                        </div>
                    </div>
                    <div class="input-group">
                        <i class='bx bxs-lock-alt'></i>
                        <input type="password" placeholder="Password" formControlName="password">
                        <div *ngIf="signinForm.get('password')?.touched && signinForm.get('password')?.invalid">
                            <span *ngIf="signinForm.get('password')?.errors?.['required']">Entrez votre mot de passe </span>
                        </div>
                    </div>
                    <button type="submit" [disabled]="signinForm.invalid">Sign in</button>
                    <p>
                        <b>Forgot password?</b>
                    </p>
                    <p>
                        <span>Don't have an account?</span>
                        <b (click)="toggle()" class="pointer">Sign up here</b>
                    </p>
                </form>
            </div>
            <div class="form-wrapper"></div>
        </div>
        <!-- END SIGN IN -->
    </div>
    <!-- END FORM SECTION -->
    <!-- CONTENT SECTION -->
    <div class="row content-row">
        <!-- SIGN IN CONTENT -->
        <div class="col align-items-center flex-col">
            <div class="text sign-in">
                <h2>Welcome</h2>
            </div>
            <div class="img sign-in"></div>
        </div>
        <!-- END SIGN IN -->
        <!-- SIGN UP CONTENT -->
        <div class="col align-items-center flex-col">
            <div class="img sign-up"></div>
            <div class="text sign-up">
                <h2>Join with us</h2>
            </div>
        </div>
        <!-- END SIGN UP CONTENT -->
    </div>
    <!-- END CONTENT SECTION -->
</div>